{% extends 'base.html.twig' %}

{%block heading %}Change username{% endblock %}

{% block content %}
    <div class="row py-3" >
        <div class="col-8" >
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
